In [2]:
import os
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
import re
from sklearn.cross_validation import train_test_split

/usr/lib/python3/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
path = "/home/praveen/Working_files/Category_Work/Training_data/data/Output/"
train_data_folder = os.listdir(path)
train_data_folder

['Education.csv',
 'Comedy.csv',
 'Entertainment.csv',
 'Beauty.csv',
 'Sports.csv',
 'Food & Drinks.csv',
 'Fashion & Style.csv',
 'News & Politics.csv',
 'Gaming.csv',
 'Music.csv',
 'Science & Tech.csv',
 'Kids & Animation.csv',
 'Health & Fitness.csv',
 'Auto & Vehicles.csv']

In [4]:
target_value = []
for cat in sorted(train_data_folder):
    cat = re.sub(".csv", "", cat)
    target_value.append(cat)
target_value

['Auto & Vehicles',
 'Beauty',
 'Comedy',
 'Education',
 'Entertainment',
 'Fashion & Style',
 'Food & Drinks',
 'Gaming',
 'Health & Fitness',
 'Kids & Animation',
 'Music',
 'News & Politics',
 'Science & Tech',
 'Sports']

In [5]:
target = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
cat_dict = dict(zip(target_value, target))
cat_dict

{'Auto & Vehicles': 0,
 'Beauty': 1,
 'Comedy': 2,
 'Education': 3,
 'Entertainment': 4,
 'Fashion & Style': 5,
 'Food & Drinks': 6,
 'Gaming': 7,
 'Health & Fitness': 8,
 'Kids & Animation': 9,
 'Music': 10,
 'News & Politics': 11,
 'Science & Tech': 12,
 'Sports': 13}

In [6]:
req_train_data = []
req_cat = []
for val in sorted(target_value):
    df = pd.read_csv(path+val+".csv", header=None)
    for row in df.values:
        video_title = str(row[2])
        video_desc = str(row[3])
        video_tags = str(row[4])
        text = video_title.strip() + video_desc.strip() + video_tags.strip()
        req_train_data.append(text)
        req_cat.append(val)
text_data = pd.Series(req_train_data)
category = pd.Series(req_cat)

In [7]:
X = text_data
y = category.map({'Auto & Vehicles': 0, 'Beauty': 1, 'Comedy': 2, 'Education': 3, 'Entertainment': 4,
                    'Fashion & Style': 5, 'Food & Drinks': 6, 'Gaming': 7, 'Health & Fitness': 8,
                    'Kids & Animation': 9, 'Music': 10, 'News & Politics': 11, 'Science & Tech': 12, 
                    'Sports': 13})
X_train, X_test, y_train, y_test = train_test_split(X, y)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(359655,)
(119885,)
(359655,)
(119885,)

In [8]:
vect  = CountVectorizer()

In [9]:
text_dtm = vect.fit_transform(X_train)
text_dtm

<359655x519049 sparse matrix of type '<class 'numpy.int64'>'
	with 35326155 stored elements in Compressed Sparse Row format>

In [10]:
X_test_dtm = vect.transform(X_test)
X_test_dtm

<119885x519049 sparse matrix of type '<class 'numpy.int64'>'
	with 11677118 stored elements in Compressed Sparse Row format>

In [11]:
nb = MultinomialNB()

In [12]:
nb.fit(text_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
y_pred = nb.predict(X_test_dtm)

In [14]:
from sklearn import metrics

In [15]:
metrics.accuracy_score(y_test, y_pred)

0.96252241731659505

In [16]:
pd.crosstab(y_test, y_pred)

col_0,0,1,2,3,4,5,6,7,8,9,10,11,12,13
row_0,,,,,,,,,,,,,,
0,2790,0,0,2,5,0,0,0,15,2,4,17,28,5
1,1,1018,0,0,1,46,0,0,151,0,1,1,1,0
2,0,0,928,0,52,0,1,1,11,1,65,15,5,2
3,7,3,2,8014,22,28,3,10,52,21,0,50,23,25
4,1,1,20,1,24681,4,30,0,39,7,514,75,0,13
5,0,23,2,2,11,3065,11,0,20,6,1,1,15,3
6,1,9,1,1,2,1,2014,0,49,2,4,1,4,2
7,4,1,0,1,2,0,0,1346,1,0,1,1,17,2
8,0,177,1,26,13,16,25,2,3681,5,2,67,10,6
9,0,5,0,2,16,11,19,0,4,1555,12,3,0,1
10,0,0,0,0,73,0,0,1,6,1,12664,3,0,0
11,35,3,12,24,560,2,6,3,731,1,66,47115,62,663
12,2,4,3,12,1,0,3,13,24,0,0,6,2984,14
13,1,1,1,3,9,0,0,0,32,0,3,98,2,3537

In [22]:
import csv
import codecs
input_file = pd.read_csv("/home/praveen/Working_files/Category_Work/shuffle_UK_channel_meta.csv", header=None)
with codecs.open("/home/praveen/Working_files/test.csv", "w", encoding="utf-8") as output_file:
    csv_writer = csv.writer(output_file)
    data_list = []
    for video_data in input_file.values[:5]:
        input_video_title = str(video_data[5])
        input_video_desc = str(video_data[6])
        input_video_tags = str(video_data[7])
        description = [input_video_title.strip() + input_video_desc.strip() + input_video_tags.strip()]
        description_dtm = vect.transform(description)
        pred_val = nb.predict(description_dtm)
        for k,v in cat_dict.items():
            if pred_val == v:
                print(k)

Gaming
Kids & Animation
Gaming
News & Politics
Auto & Vehicles